* {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.Header {
	color: #5924d4;
	text-shadow: 1px 1px 5px rgb(106, 92, 124);
	text-align: center;
	padding: 1%;
  font-size: 5rem;
}
/* write your parent styles in here for your App.js */
